*{
    margin: 0;
    padding: 0;
}
div{
    width: 200px;
    height: 200px;
    margin: 100px auto;
    background-color: fuchsia;
    color: green;
    text-align: center;
    line-height: 100px;
    font-size: x-large;
}
/* .transform{
    transform:perspective(1000px) rotateX(00deg);
    /* this will rotate in the x axis plane with the perspecitve you can see it rotating bigger the perspective it looks far froom you smaller it is closer it looks 
     transition: all 2s; 
} */
/* .transform:hover{
transform: perspective(1000px) rotateX(88deg);
} */

.transform1{
    transform:perspective(1000px) rotateY(80deg);
    /* rotates in the y axis plane */
}
/* same hover effect can be applied to the y axis also to create a better graphics */

.transform{
    transform:perspective(300px) rotateZ(0deg);
    transition: all 4s;

}
.transform:hover{
    transform: perspective(300px) rotateZ(-360deg);
    }
