*{
    margin: 0;
    padding: 0;
    
}
/* the use of the aspect ratio */
 /* .box{
    margin: 10px; */
    /* height: 300px; height can be written with the help of the aspect ratio form */

    /* aspect-ratio: 1/1; */

    /* on applying this width will be of 300px whereas height will be 600px due aspect ratio property  and through this only height can be increased not the width as the width is already fixed*/
    /* width: 300px;
    border: 5px solid black;
    border-radius: 10px;
    border-color: pink magenta  green red;
   align-items: center;
    
}  */
img{
    width: 400px;
    aspect-ratio: 1/2;
    object-fit: cover;
    transition: all 0.5s;
}
@media screen and (max-width:768px)  {
    img{
        width: 100%;
        
    }

    
}