*{
    margin: 0;
    padding: 0;
}
p{
    background-color: greenyellow;
}
@media (display-mode:browser){
p{
    background-color: red;
font-size: 60px;
}
}
@media (display-mode:fullscreen){
p{
    background-color: red;
    font-size: 20px;
}
}

@media (display-mode:minimal-ui){
p{
    background-color: red;
    font-size: 35px;
}
}