*{
    margin: 0;
    padding: 0;
}
.parent{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 100px;
    background-color: red;
    perspective: 800px;
    transform: rotateY(80deg);
    transform-style: preserve-3d;
    /* this can be seen like it is rotating the inside using the preserve-3d */
}
.child{
    position: absolute;
    width: 400px;
    left: 100px;
    height: 400px;
    background-color: fuchsia;
    font-size: 20px;
    text-align: center;
    line-height: 400px;
    /* transform: rotateX(50deg); */
    transform: rotateX(0deg);
    transform-origin: center right;
    /* from where it will start the transformation like it is from the top and center */
    transition: all 2s;
}
.child:hover{
    transform: rotateX(200deg);
    transform-origin: center right;
}
.child2{
    position: absolute;
    width: 400px;
    right: 100px;
    height: 400px;
    background-color: green;
    font-size: 20px;
    text-align: center;
    line-height: 400px;
    /* transform: rotateX(50deg); */
    transform: rotateX(0deg);
    transform-origin: center right;
    /* from where it will start the transformation like it is from the top and center */
    transition: all 2s;
}
.child2:hover{
    transform: rotateX(-200deg);
    transform-origin: center right;
}